@import 'tailwindcss';

@theme {
    --color-neutral-900: hsl(0, 0%, 7%);
    --color-neutral-800: hsl(0, 0%, 15%);
    --color-neutral-500: hsl(240, 3%, 46%);
    --color-neutral-400: hsl(240, 1%, 59%);
    --color-neutral-0: hsl(0, 0%, 100%);


}


:root {
    background-color: hsl(0, 0%, 7%);
    color: hsl(0, 0%, 88%);
}

body {
    max-width: 375px;
    margin: auto;
    align-items: center;
}


@media (min-width: 1024px) {
  body {
    max-width: 1024px;   /* or full width; choose layout width for desktop */
    margin: auto;
  }
}



.correct {
  color: #10b981; 
      
}

.incorrect { 
  text-decoration: underline; 
  color: #ef4444; 
} 
.current { 
  background: rgba(255,255,0,0.12); 
  color: #9ca3af; 
}
.untyped { 
  color: #9ca3af; 
} 
